<% layout('layouts/boilerplate') %>
<div id="map" style="width:100%; height:400px"></div>

<h1>All Campgrounds</h1>
<h2><a href="/campgrounds/new">Add new campground</a></h2>

<%for(let c of allcamps){%>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
     <%if(c.images.length){%>
      <img src="<%=c.images[0].url %> " class="img-fluid" alt="..." />
      <%}else{%>
      <img src="http://farm9.staticflickr.com/8605/16573646931_22fc928bf9_o.jpg " class="img-fluid" alt="..." />
      <%}%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=c.title %></h5>
        <p class="card-text"><%=c.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%=c.location %> </small>
        </p>
        <a href="/campgrounds/<%=c._id%>" class="btn btn-primary">View <%=c.title%></a>
      </div>
    </div>
  </div>
</div>
<%}%>
<script>
  const mapToken = '<%-process.env.MAP_TOKEN%>';
  const campgrounds ={features:' <%- JSON.stringify(allcamps) %>'}
</script>
<script src="/javascripts/clustermap.js"></script>